// HERO
.hero {
 padding-top: 12.7rem;
 background-image: url(/images/svg/bg-lines.svg);
 background-repeat: no-repeat;
 background-position: left -26% top 16%;
}

.hero__container {
 display: flex;
 // position: relative;
}

// IMAGES
.hero__bg-img {
 position: absolute;
 z-index: -1;
}

.hero__right-img {
 position: absolute;
 z-index: -1;
 right: 6rem;
 top: -1rem;
}

.oval {
 position: absolute;
 bottom: 5rem;
 right: 38rem;
}

.description {
 width: 710px;
 &__title {
  position: relative;
  @include header-xl;

  span{
   border-bottom: solid 6px $green;
  }
 }
}

.description__text {
 width: 445px;
 padding-top: 4.3rem;
 p {
  @include text;
 }
}

// languages
.languages {
 padding-top: 200px;
 background-image: url(/images/svg/bg-lines.svg);
 background-repeat: no-repeat;
 background-position: right -30% top 16%;
}

.languages__container {
 border-top: 1px solid $white;
}

.languages__list { 
 margin-top: 7.2rem;
 display: grid;
 grid-template-columns: 178px 165px 229px;
 gap: 58px 210px;
}

.languages__wrapper {
 dt {
  @include main-l;
 }

 dd {
  padding-top: 1.4rem;
  @include text;
 }
}

.languages__title {
}
.languages__description {
}


// PROJECTS
.projects {
}

.projects__container {

}

.projects__title {
}
.button__locat {
}
.button {
}

.projects__list {
 display: flex;

 a {

 }
}

.projects__description {
}
.flex {
}