.footer {
 margin-top: 31.1rem;
 padding-bottom: 10rem;
 background-color: $light-dark;

 &__container {
  border-top: 1px solid $white;
  display: flex;
  align-items: center;
  padding-top: 8rem;
 }
}

.site-logo {
 width: 234px;
 height: 25px;
 transition: opacity 0.2s;
 &:hover {
  opacity: 0.8;
 }

 &:active {
  opacity: 0.6;
 }
}

.socials {
 margin-left: auto;
 display: flex;
 gap: 32px;

 &__link {
  transition: opacity 0.2s;
  &:hover {
    opacity: 0.8;
  }

  &:active {
   opacity: 0.8;
  }
 }
}