.button {
 margin: 0;
 padding: 0;
 text-transform: uppercase;
 font-size: 1.6rem;
 line-height: 2.6rem;
 border-bottom: 2px solid $green;
 color: $white;
 transition: color 0.2s;

 &:hover {
  color: $green;
 }

 &:active {
  opacity: 0.8;
 }
}

.button__locat {
 padding-top: 6.6rem;
 width: 120px;
 height: 38px;
}